export(gcd.mult.ref)
export(phi.mult.ref)
export(ci.mult.ref)
export(phi.mult.ref.cm)
export(ci.mult.ref.cm)
export(phi.syn)
export(ci.syn)
export(phi.syn.cm)
export(ci.syn.cm)
export(ci.sas)
export(ci.sas.cm)
import(rootSolve)
import(GenBinomApps)
importFrom("stats", "dhyper", "pbinom", "qbeta", "uniroot") 