useDynLib(alqrfe, .registration = TRUE)
import(Rcpp)
import(stats)
#exportPattern("^[[:alpha:]]+")
export(qr)
export(clean_data)
export(mqr)
export(mqr_alpha)
export(plot_taus)
export(plot_alpha)
