importFrom("stats","median","na.omit","aggregate")
importFrom("graphics", "plot", "par", "points")
importFrom("survival", "coxph")
importFrom("Iso", "pava")

export(aisoph, aisoph)

S3method(plot, aisoph, plot.aisoph)

