import("stats", "graphics", "colorspace")
importFrom("car", "ellipse")
importFrom("fda", "bsplineS")
importFrom("splines", "spline.des")
importFrom("grDevices", "dev.new", "hcl")
export(anacor)
export(burtTable)
export(expandFrame)
export(mkIndiList)

S3method(print, anacor)
S3method(plot, anacor)

