useDynLib(adjSURVCI, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, rnorm, model.matrix, na.omit, pchisq, median, rbinom, runif, rgamma,rexp)
importFrom(survival, survfit, Surv)
export(crrscCOX)
export(crrscKM)
export(survCOX)
export(simulate_surv_data)
export(simulate_CR_data)

