# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
importFrom("dynamicTreeCut", "cutreeHybrid")
importFrom("graphics", "arrows", "layout", "legend", "lines", "par",
		   "plot.default", "points", "text")
importFrom("stats", "as.dist", "hclust")
importFrom("utils", "browseURL", "write.csv")

# Register S3 methods
S3method(summary, amPairwise)
S3method(summary, amCluster)
S3method(summary, amUnique)