import(R.methodsS3) 
importFrom("GDINA","attributepattern")
importFrom("stats", "aggregate", "cutree", "dist", "hclust", "kmeans")
importFrom("utils", "combn")
export(alpha, eta, cd.cluster, labeling, npar.CDM) 
S3method(print, cd.cluster) 
S3method(print, labeling) 
S3method(print, npar.CDM) 
useDynLib(ACTCD, .registration = TRUE)
