export("abstractr")
import(shiny)
import(shinythemes)
import(ggplot2)
import(gridExtra)
import(emojifont)
import(rintrojs)
importFrom(colourpicker, colourInput)
importFrom(colourpicker, colourPicker)
importFrom(colourpicker, colourWidget)
