exportClasses("Asset")
exportMethods("assemble<-")
exportMethods("classify")
exportMethods("configuration")
exportMethods("configuration<-")
exportMethods("export")
exportMethods("nomenclature<-")
exportMethods("normalize")
exportMethods("standardize")
exportMethods("visuals<-")
export("asset")

exportClasses("Classifier")
exportMethods("covariates<-")
exportMethods("information")
exportMethods("predictions")
exportMethods("profiles<-")
exportMethods("report")
exportMethods("scores")
export("classifier")

export("bcellALL")

importFrom("grDevices", "dev.off", "rgb", "svg")
importFrom("graphics", "lines", "par", "rect", "text")
importFrom("methods", "new")
importFrom("stats", "approx", "binomial", "cor", "glm", "median",
    "pchisq", "pnorm", "pt", "qnorm", "quantile", "rnorm", "runif", "sd")
importFrom("utils", "read.delim", "write.table")
