/* https://github.com/rjknell-zz/Ioslides_css/blob/master/slidestyles2.css */

/* Background colour for code blocks */
.prettyprint {
  background-color: #F5F5F5;
}

/* Console text output */
pre {
  color: #000000;
}

/* Paragraph text */
p {
  color: #000000;
}

/* Unordered lists */

ul {
  color: #000000;
}

/* Ordered lists */

li {
  color: #000000;
}

/* Headers */

h1 {
  color: #000000;
}

h2 {
  color: #000000;
}

h3 {
  color: #000000;
}

/* Table formatting */

tbody {
  color: black;
}

/* Title slide title */
.title-slide hgroup h1 {
  color: black;
}

/* Title slide subtitle */
.title-slide hgroup h2 {
  color: black;
}

/* Title slide paragraph */
.title-slide hgroup p {
  color: black;
}
