exportPattern("^[[:alpha:]]+")
import(tseries)
import(quantmod)
S3method(predict,acp)
S3method(print,acp)
S3method(acp,default)
S3method(acp,formula)
S3method(print,summary.acp)
S3method(summary,acp)
importFrom("graphics", "lines", "par", "plot", "segments")
importFrom("stats", "acf", "coef", "dpois", "filter", "fitted",             "model.frame", "model.matrix", "model.response", "na.omit",
"optim", "pchisq", "ppois", "printCoefmat", "pt", "qnorm",              "residuals", "runif")